html,
body {
  font-family: Arial, Sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#title{
  position: fixed;
  top: 0px;
  left: 5%;
  width: 30%;
}

#search {
  position: fixed;
  left: 5%;
  top: 55px;
  height: 30px;
  width: 20%;
  font-size: 15px;
}

#list-view {
  position: fixed;
  height: 27%;
  overflow: auto;
  top: 95px;
  left: 5%;
  width: 20.4%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

#error {
  position: fixed;
  top: 350px;
  left: 5%;
  width: 20%;
}

@media only screen and (max-width: 650px) {

    h2 {
      font-size: 16px;
    }

    #search {
    top: 40px;
    width: 30%;
    font-size: 12px;
    }

    #list-view {
    width: 30.8%;
    }

    #error {
    top: 320px;
    width: 30%;
    }
}